/* HTML/Body Section */
body, html {
    cursor: default;
    font-family: Merriweather Sans,sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    border: 10px solid #1f1c1c;
    border-radius: 10px;
    overflow: auto;
    position: static;
    display: block;
    margin: 8px;
    margin-top: 2px;
    background-color: #fff;
}
/* Navigation Bar */
.container-1 {
  display: block;
  margin:20px 0 0 0;
  background-color: white;
  max-width: 100%;
  height: 100%;
  padding: 0;
}
nav{
  padding:0px!important;
}
.navbar-light .navbar-toggler-icon{

}
.navbar{
  position: fixed;
  top: 0px;
  right: 17px;
  left:  17px;
  z-index: 999;
  box-shadow:  0px 3px 6px -1px black;
}
.grey{
  background-color:grey;
}
.nav-link {
  padding: 12px 60px 12px 60px !important;
}
.nav-item {
  margin-right: 50px;
  margin-left: 50px;
  font-size: 15px;
}
.nav-link:hover:before{
  display:block;
  content:"";
  position:absolute;
  bottom: -1px;
  left:0;
  width:0;
  height:4px;
  background:#404041;
  transition: width .5s ease-out;
}
.nav-link:hover:before{
  width:100%;
}
 /* Home Section */
#home{
  display: flex;
  background-image: url('../resources/img/julian-o-hayon-257567-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 650px;
}
/* Dumy Terminal */
#bar {
    box-shadow:  0px 3px 6px -1px black;
    text-align: center;
    width: 750px;
    height: 25px;
    background-color: #404041;
    margin: 0 auto;
    font-family: monospace;
    padding: auto;
    float: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
#red {
    background-color: #FF554E;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    margin: 0 auto;
    left: -46.8%;
    bottom: -23%;
    position:relative;
}
#yellow {
    background-color: #FFC12E;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    margin: 0 auto;
    left: -44%;
    bottom: 26%;
    position:relative;
    display: block;
}
#green {
    background-color: #2ACB42;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    margin: 0 auto;
    left: -41%;
    bottom: 73%;
    position:relative;
    display: block;
}
#screen {
    box-shadow:  0px 3px 6px -1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a9a9a9bf;
    width: 748px;
    height: 150px;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    margin: 0 auto;
    padding: 1px;
}
.typewriterText {
    color: #fff;
    font-family: monospace;
    font-size: 15px;
    text-align: left;
    position: static;
}
.size2{
  display: none;
}
.typewriter {
  font-family: monospace;
  letter-spacing: .15em;
  margin-left: 0 auto;
  margin: 0 auto;
  overflow: auto;
  white-space: nowrap;
  border-right: 3px solid black;
  animation:
  typing 4s steps(35, end),
  blinking-cursor .5s step-end infinite;
}
@keyframes blinking-cursor {
from, to { border-color: transparent }
50% { border-color: black }
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
/* AboutMe Section */
#aboutMe{
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px;
  box-shadow: 0px 0px 20px 2px; rgba(0,0,0,.30);
}
#aboutMe header{
  margin-bottom: 30px;
}
/* Skills Section */
#skills {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 50px 0 50px 0;
  border-bottom: 4px solid #1f1c1c;
  background-color: #e3e3e3;
  box-shadow: inset 5px 14px 28px 20px rgba(0,0,0,.30);
}
#skills header h1{
  margin: 20px 0 100px 0;
}
.col h5{
  display: flex;
  flex-direction: column;
}
.col{
  margin-bottom: 20px;
}
.col h5 i{
  margin-bottom: 8px;
}
.row{
  display: flex;
  width: 100%;
  justify-content: center;
}
/* Project Section */
#projects header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 30px 0;
}
#projects:before {
    height: 30px;
    content: "";
    display:block;
}
.grid-wrapper {
  display: grid;
  grid-gap: 2em;
  grid-template: repeat(2,1fr)/repeat(3,1fr);
  margin: 70px 150px 100px 150px;
}
.wrapper{
  text-align: center;
  padding: 0;
}
div.pr {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  height: 250px;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 0 1px 6px rgba(0,0,0,.4);
  transition: ease .5s;
}
div.pr:hover{
  box-shadow: 5px 14px 28px rgba(0,0,0,.30);
}
div.project1{
 background-image: url('../resources/img/Screen Shot 2019-05-09 at 12.49.10 PM.png');
}
div.project2{
 background-image: url('../resources/img/Screen Shot 2019-05-11 at 2.32.28 PM.png');
}
div.popup{
  display: none;
  color: white;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  box-shadow: inset 0 0 0 2px #fff, 0 1px 6px rgba(0,0,0,.4);
}
.popup h2 {
  padding-bottom: 20px;
}
button.viewMore{
  background-color: transparent;
  border-radius: 5px;
  height: 40px;
  width: 140px;
  border: 2px solid #fff;
  color: #fff;
  transition: ease-in-out .3s;
}
button.viewMore:focus{
  outline: none;
}
button.viewMore:hover{
  width: 170px;
  color: #308dff;
}
/* Contact Section */
#contact{
  text-align: center;
  background-color: #1f1c1c;
  height: 500px;
  color: #fff;
  padding: 70px 300px 0 300px;
}
#contact a{
  text-decoration:none;
  outline: none;
}
.info{
  padding-bottom: 10px;
  border-bottom: .5px solid #999;
  border-radius: 4px;
}
.formContact{
  padding: 20px 100px 0 100px;
}
.forms{
  display: inline-block;
  border-radius: 6px;
  margin: 4px;
  background-color: #191616;
  color: #999;
  padding: 3px 9px;
  border-bottom: 2px solid hsla(0,0%,100%,.03);
  border-left: 2px solid hsla(0,0%,100%,.03);
  border-right: 2px solid hsla(0,0%,100%,.03);
  border-top: 2px solid rgba(0,0,0,.24);
}
textarea.forms{
  width: 600px;
  height:100px;
  resize: none;
}
.forms:focus {
  outline: none;
}
#resume a{
  color: #999;
}
#resume a:hover{
  color: #FFF;

}
#submit-btn{
  padding-top: 2px;
  width: 120px;
}
#submit-btn:hover{
  background-color: grey;
  border: none;
  color: #fff;
  border: 2px solid transparent;
}
button.resume {
  margin-right: 310px;
}
button.resume:hover{
  border: 2px solid transparent;
  background-color: grey;
  color: #fff;
}
/* Footer */
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: #999;
  background-color: #1f1c1c;
}


/* Media Query 1024px */
@media only screen and (min-width: 800px) and (max-width: 1024px) {
  /* Navigation Bar */
  nav {
    right:0px;
    left:0px;
  }
  .nav-item{
    margin-right: 5px;
    margin-left: 5px;
  }
  a.nav-link{
    font-size: 10px;
  }
  .nav-link {
      padding: 12px 60px 12px 60px !important;
  }
  /* Contacts Section */


  #contact h1 {
    font-size: 30px;
    padding-top: 30px;
  }
  #contact h5{
    font-size: 15px;
    padding-bottom: 20px;
  }
  #contact a{
    text-decoration:none;
    outline: none;
  }
  #contact{
    padding: 0;
    height: 580px;
  }
  .info{
    margin-top:25px;
    padding-bottom: 0;
    border-bottom: 0;
  }
  .formContact{
    padding: 0;
  }
  .forms{
    width: 70%;
    display: inline-block;
    border-radius: 6px;
    margin: 4px;
    padding: 3px 9px;
  }
  textarea.forms{
    width: 70%;
    height:120px;
    resize: none;
  }
  #resume{
    width: 368px;
    margin-right: 5px;
  }
  #resume a:hover{
    color: #FFF;
  }
  #submit-btn{
    padding-top: 2px;
    width: 130px;
  }
}


/* Media Query Mobile*/
@media only screen and (max-width: 575px) {
  body{
    margin: 0;
    border: 0;
  }
  /* Navigation Bar */
  div.hamburger-wrapper{
    display: inline-block;
    position: relative;
  }
  #navbar-toggler.navbar-toggler{
    height: 40px;
    width: 40px;
    border: none;
    padding: 5px !important;
  }
  button.navbar-toggler:hover{
    background-color: #f8f9fa !important;
  }
  .line{
    width: 80%;
    height: 3px;
    background-color: black;
    position: absolute;
  }
  .top{
    top: 46%;
  }
  .middle{
    top: 15%;
  }
  .bottom{
    bottom: 13%;
  }
  .navbar{
    top: 0px;
    right: 0px;
    left: 0px;
  }
  .navbar-toggler:focus{
    outline: none;
  }
  .nav-item {
    margin-right: 0;
    margin-left: 0;
    font-size: 15px;
  }
  a.nav-link{
    padding: 20px;
  }
  .nav-link:hover {
    color: white !important;
  }
  /* Home Section */
  #bar{
    width: 300px;
  }
  #screen{
    width: 300px;
  }
  #red {
      left: -46.8%;
      bottom: -23%;
  }
  #yellow {
      left: -42%;
      bottom: 26%;
  }
  #green {
      left: -37%;
      bottom: 73%;
  }
  .size2{
    display: inline-block;
  }
  .size1{
    display: none;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 80% }
  }
  /* Skills Section */
  #skills header h1 {
   margin: 20px 0 60px 0;
  }
  .row {
    margin: 0;
    align-items: center;
  }
  /* Project Section */
  .grid-wrapper {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(1,auto);
    margin: 70px 0 100px 0;
  }
  .wrapper{
    text-align: center;
    padding: 0;
  }

  /* Contact Section */
  #contact{
    text-align: center;
    height: 570px;
    padding: 20px 10px 10px 10px;
  }
  #contact h1 {
    font-size: 30px;
  }
  #contact h5{
    font-size: 15px;
  }
  #contact a{
    text-decoration:none;
    outline: none;
  }
  .info{
    margin-top:15px;
    padding-bottom: 0;
    border-bottom: 0;
  }
  .formContact{
    padding: 0;
  }
  .forms{
    width: 70%;
    display: inline-block;
    border-radius: 6px;
    margin: 4px;
    padding: 3px 9px;
  }
  textarea.forms{
    width: 70%;
    height:120px;
    resize: none;
  }
  .forms:focus {
    outline: none;
  }
  #resume a{
    color: #999;
  }
  #resume a:hover{
    color: #FFF;
  }
  #submit-btn{
    padding-top: 2px;
    width: 120px;
  }
  #submit-btn:hover{
    background-color: grey;
    border: none;
    color: #fff;
    border: 2px solid transparent;
  }
  button.resume {
    margin-right: 5px;
  }
  button.resume:hover{
    border: 2px solid transparent;
    background-color: grey;
    color: #fff;
  }
  footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: #999;
    background-color: #1f1c1c;
  }
}
/* Media Query Tablet*/
@media only screen and (min-width: 575px) and (max-width: 800px) {
  /* Navigation Bar */
  nav {
    right:0px;
    left:0px;
  }
  .nav-item{
    margin-right: 5px;
    margin-left: 5px;
  }
  a.nav-link{
    font-size: 10px;
  }
  .nav-link {
      padding: 12px 30px 12px 30px !important;
  }
  /* Project Section */
  .grid-wrapper {
    grid-template-columns: repeat(1,auto);
    margin: 70px 0 100px 0;
    padding: 0 50px 0 50px;
  }
  div.pr{
    height: 350px;
  }


  /* Contacts Section */
  #contact h1 {
    font-size: 30px;
    padding-top: 30px;
  }
  #contact h5{
    font-size: 15px;
    padding-bottom: 20px;
  }
  #contact a{
    text-decoration:none;
    outline: none;
  }
  #contact{
    padding: 0;
    height: 580px;
  }
  .info{
    margin-top:25px;
    padding-bottom: 0;
    border-bottom: 0;
  }
  .formContact{
    padding: 0;
  }
  .forms{
    width: 70%;
    display: inline-block;
    border-radius: 6px;
    margin: 4px;
    padding: 3px 9px;
  }
  textarea.forms{
    width: 70%;
    height:120px;
    resize: none;
  }
  #resume{
    width: 368px;
    margin-right: 5px;
  }
  #resume a:hover{
    color: #FFF;
  }
  #submit-btn{
    padding-top: 2px;
    width: 130px;
  }





}
